/* 
1. Syntax and Selectors
2. Selectors
9. Specificity
*/

/*
ID's are the most specific selector in CSS, followed by classes, and finally
type. Best practice in CSS is to style elements while using the lowest degree
of specificity so that if an element needs a new style, it is easy to
override.
*/

/* 
To make styles easy to edit, it’s best to style with a type selector, if 
possible. If not, add a class selector. If that is not specific enough, then 
consider using an ID selector.
*/

* {
  border: 1px solid red;
}

p {
  color: green;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
}

a[href*='florence'] {
  color: lightgreen;
}

a[href*='beijing'] {
  color: lightblue;
}

a[href*='seoul'] {
  color: lightpink;
}

a:hover {
  color:darkorange;
}

.heading-background {
  background-color: aqua;
}

#publish-time {
  color: lightgray;
}

h5 {
  color: yellow;
}

.author-class {
  color: pink;
}
#author-id {
  color: cornflowerblue;
}
