/* 
4. Display and Positioning
1. Display and Positioning
8. Inline Display
*/

/*
display: inline, block, inline-block
*/

/*
Every HTML element has a default display value that dictates if it can share
horizontal space with other elements. Some elements fill the entire browser from 
left to right regardless of the size of their content. Other elements only take 
up as much horizontal space as their content requires and can be directly
next to other elements.

In this lesson, we'll cover three values for the display property:
inline, block and inline-blck.

The default display for some elements, such as <em> <strong> and <a> is 
called inline. Inline elements have a box that wraps tightly around their 
content, only taking up the amount of space necessary to display their
content and not requiring a new line after each element. The height and
width of these elements cannot be specified in the CSS document. For example,
the text of an anchor tag <a> will by default be displayed on the same line as 
as the surrounding text, and will only be as wide as necessary to contain its
content. inline elements cannot be altered in size with the height or width CSS 
properties. 

example:
To learn more about <em>inline</em> elements, read 
<a href="#">MDN documentation</a>.   

In the example above, the <em> element is inline, because it displays its content
on the same line as the content surrounding it, including the anchor tag.

Documentation:
https://developer.mozilla.org/en-US/docs/Web/HTML/Inline_elements

h1 {
  display: inline;
}

The CSS in the example above will change display of all <h1> elements to inline.
The browser will render <h1> elements on the same line as other inline
elements immediately before or after them (if there are any).

*/

